body {
  background-color: #F2F2F2;
}

/*Panel*/
.panel-heading {
  background-color: white !important;
  padding: 0 15px;
}
.panel {
  clear: both;
}

/*User post information*/
.profile-icon {
  border-radius: 50%;
}
.user-post {
  overflow: auto;
  margin: 10px 0;
}
.user-post-image {
  float:left;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.user-post-text {
  float: left;
  margin: 10px 0 0 10px;
  color: #736E6E;
  font-size: 0.9em;
}

/*Bounty information*/
.bounty-post-text {
  color: black;
  font-size: 1.2em;
}

/*Tags category*/
.popularity {
  color: #FFA500;
}
.popularity-icon {
  float:left;
  display: inline-block;
}
.glyphicon-ok-circle {
  font-size: 18px;
}
.popularity-number {
  float: left;
  margin: -1px 10px 0 0;
  font-size: 1.2em;
}
.btn {
font-size: 0.8em;
font-weight: bolder;
padding: 1px 5px;
margin-bottom: 2px;
color: #9D9B9B;
}
.btn-default:first-child {
  color: #F94F4F;
}

/*Text of the panel*/
.text-panel {
  margin: 10px 0 15px 0;
  clear: both;
  font-size: 1.5em;
}

/*Button and circle of comment*/
.comment {
  overflow: auto;
  padding-top: 20px;
  clear: both;
}
.comment-circle {
  float:left;
  display: inline-block;
  background-color: grey;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.comment-button {
  float: left;
  width: 120px;
  height: 36px;
  border: 1px solid #4EA3ED;
  color: #4EA3ED;
  border-radius: 18px;
  text-align: center;
  line-height: 36px;
  margin: -5px 0 0 10px;
}
.comment-button:hover {
  background: #e6e6e6;
  color: black;
}

/*Likes and how much comments section*/
.glyphicon-heart, .glyphicon-comment {
  float:left;
  display: inline-block;
  color: red;
  font-size: 1.2em;
  margin-right: 15px;
  margin-left: 4px;
}
.glyphicon-comment {
  color: grey;
}
.like-text, .view-comments-text {
  font-size: 0.9em;
}
.like, .view-comments {
  clear: both;
  margin-bottom: 5px;
}

/*Comments*/
.expanded-comments {
  margin-top: 20px;
}
.pure-comment {
  overflow: auto;
  clear: both;
  margin: 10px 0;
}
.pure-comment .comment-circle {
  margin-top: 7px;
}
.comment-text {
  width: 90%;
  float: left;
  padding-left: 10px;
  padding-bottom: 10px;
}
.comment-text p {
  margin: 0;
}
.comment-text img {
  max-width: 100%;
  max-height: 100%;
}
