<h2>Products as a seller</h2>
<ul>
  <% @products.each do |product| %>
    <li><%= product.title %></li>
  <% end %>
</ul>

<h2>products bid on</h2>
<ul>
  <% @bids.each do |bid| %>
    <li><%= bid.product.title %></li>
  <% end %>
</ul>

<h2>Products have won</h2>
<ul>
  <% @won.each do |wo| %>
    <li><%= wo.title %></li>
  <% end %>
</ul>
