<!DOCTYPE html>
<html>
<head>
  <title>Result</title>
</head>
<body>
  <h1>City: <%= @place_name %></h1>
  <h1>Latitude: <%= @lat %></h1>
  <h1>Longitude: <%= @lng %></h1>
  <h1>Local time: <%= @place_time %></h1>


</body>
</html>
