<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h2>Validate your password</h2>

  <form action="/validate" method="POST">

    <input type="text" name="email" placeholder="E-mail"><br><br>
    <input type="password" name="password" placeholder="Password">
    <br><br>
    <button type="submit">Validate</button>

  </form>



</body>
</html>
